<footer class="bg-light border-top py-3 mt-5">
  <div class="container">
    <div class="row justify-content-between align-items-center text-center text-md-start gy-3">

      <!-- Social Icons -->
      <div class="col-12 col-md-4">
        <div class="f-info-socials d-flex justify-content-center justify-content-md-start gap-3">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>

      <!-- Branding -->
      <div class="col-12 col-md-4">
        <div class="f-info-brand text-center">
          &copy; Wonderlust
        </div>
      </div>

      <!-- Links -->
      <div class="col-12 col-md-4">
        <div class="f-info-links d-flex justify-content-center justify-content-md-end gap-3">
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </div>
      </div>

    </div>
  </div>
</footer>
