<% layout("./layout/boilerplate.ejs") -%>

<div class="row">
        <br>
        <div class="col-8 offset-2">
            <br>
            <h3>Create a New Listing</h3>
            <br>
    <form action="/listings"
           method="POST" 
           class="needs-validation" 
           enctype="multipart/form-data"
           novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" placeholder="Enter title" required>
            <div class="invalid-feedback">
                Enter valid title!
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Uploade Listing Image</label>
            <input type="file" name="listing[image]" class="form-control">
            required
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" placeholder="About Hotel" required></textarea>
            <div class="invalid-feedback">
                Enter valid description!
            </div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" class="form-control" placeholder="1500" required>
            <div class="invalid-feedback">
                Price should be valid!
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Chennai" required>
            <div class="invalid-feedback">
                Enter the valid lication!
            </div>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" placeholder="India" required>
            <div class="invalid-feedback">
                Enter the valid country!
            </div>
        </div>
       
         <br>
         <button type="submit" class="btn btn-danger">Add</button>
         <br>

    </form>
    </div>
     </div>
