body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container {
    flex : 1;
}
.fa-compass {
    font-size : 2rem;
    color : #13020b;
}
.navbar {
    height :5rem;
    background-color: white;
}
.nav-link {
    color : black !important;
}
.f-info {
    display : grid;
    grid-template-columns: auto;
}
/* cards */
.listing-card {
    border : none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width : 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding : 0 !important;
}
.card-text p {
    font-weight: 400 !important;

}
.listing-link {
    text-decoration: none !important;
}
/* card effect  */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color : white;
    
}
.card-img-overlay:hover {
    color : red;
    opacity: 0.3;
    align-items: flex-end;
}
/* show page */
.show-img {
    height: 30vh;
}
.btns {
    display : flex;
}

/* map */
#map { 
    height : 400px;
    width : 80vh;
 }